* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-addTodo {
  max-width: 800px;
  margin-top: 30px;
}

.form-control {
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #d4d4d4;
}
.form-control:focus {
  border: 1px solid #d4d4d4;
  box-shadow: none;
}

.btn-primary {
  min-width: 100px;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  font-size: 24px;
}

tbody {
  font-size: 18px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

.transactionIcons {
  font-size: 25px;
  margin-left: 5px;
  cursor: pointer;
}
